@charset "UTF-8";
/* CSS Document */





body {
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background: #FFFFFF;
}




/* NAVIGATION */

.sticky {
	position: -webkit-sticky;
	position: sticky;
	background: #eeece8;
	top: 0;
	height: 65px;
	box-shadow:0px 0px 0px 0 rgba(0,0,0,.1);
	padding: 0px;
	z-index: 3;
}
.header{
	background-color: #eeece8;
	box-shadow:0px 0px 0px 0 rgba(0,0,0,.1);
	position: 100%;
	z-index: 4;
}
.header ul{
	margin:0;
	padding:0;
	text-align: right;
	list-style: none;
	overflow: hidden;
}
.header ul a{
	font-family: "Playfair Display";
	display: block;
	outline:0px solid #1752A1;
	text-transform: uppercase;
	font-size: 15px;
	color: #666666;
	letter-spacing: 0.1em;
	padding: 17px 30px 17px 0px;
	border-right: 0px solid #ECECEC;
	text-decoration: none;
	transition: max-height .2s ease-out;
}
.header ul a:hover{
	background-color: #fff;
}
.header .logo{	
	float: left;
	display: inline-block;
	padding: 10px 20px;
}
.header .menu{
	clear:both;
	max-height: 0;	
	transition: max-height .2s ease-out;
}
.header .menu-icon{
	border: 0px solid #F30004;
	padding: 30px 30px;
	position: relative;
	float: right;
	cursor: pointer;
}
.header .menu-icon .nav-icon{
	background: #333;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background .2s ease-out;
}
.header .menu-icon .nav-icon:before{
	background: #333;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 5px;
}
.header .menu-icon .nav-icon:after{
	background: #333;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: -5px;
}
.header .menu-btn{
	display: none;
}
.header .menu-btn:checked ~ .menu{
	max-height: 340px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon{
	background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
	transform: rotate(-45deg);
	top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
	transform: rotate(45deg);
	top: 0;
}

@media (min-width: 1000px){ /*LARGER*/
.header{
	background-color: #fff;
	box-shadow:0px 0px 0px 0 rgba(0,0,0,.1);
	position: 100%;
	z-index: 4;
	}
.header li{
	float:left;
	}
.header li a{
	padding: 22px 30px;
	}
.header .menu{
	clear:none;
	float: right;
	max-height: none;
	}
.header .menu-icon{
	display: none;
	}
}

@media (max-width:830px){	/*TABLET*/
.header .logo{
	padding: 10px 12px;
	}
}

@media (max-width:412px){	/*MOBILE*/
.header .logo{
	padding: 10px 8px;
	}
}

/* END NAVIGATION */





.homelogo {
	border: 0px dashed #999;
	text-align: center;
	padding: 120px 50px 80px 50px;
}
.homelogo img{
	text-align: center;
	width: 400px;
	height: auto;

}
@media (max-width:830px){	/*TABLET*/
.homelogo { 
	padding: 100px 25px 80px 25px;
	}
.homelogo img{ 
	width: 300px;
	height: auto;
	}
}
@media (max-width:412px){	/*MOBILE*/
.homelogo { 
	padding: 75px 10px 50px 10px;
	}
.homelogo img{ 
	width: 250px;
	height: auto;
	}
}



.homeimg_web {
	padding: 0px 40px 0px 40px;
	text-align: center;
}
@media (max-width:830px){	/*TABLET*/
.homeimg_web { 
	padding: 0px 24px 0px 24px;
	}
}
@media (max-width:412px){	/*MOBILE*/
.homeimg_web { 
	display: none;
	}
}


.homeimg_mobile {
	display: none;
}

@media (max-width:412px){	/*MOBILE*/
.homeimg_mobile { 
	display: block;
	padding: 0px 16px 0px 16px;
	}
}




.homequote {
	padding: 100px 275px 100px 275px;
	text-align: center;
}
@media (max-width:830px){	/*TABLET*/
.homequote { 
	padding: 75px 100px 75px 100px;
	}
}
@media (max-width:412px){	/*MOBILE*/
.homequote { 
	padding: 60px 30px 60px 30px;
	}
}





/* FONT */

.headline { 
    font-family: "Playfair Display";
	font-size: 36px; 
	line-height: 42px; 
	text-transform: uppercase;
	font-style: normal; 
	font-variant: normal; 
	letter-spacing: 3px;
	color: #222;
	text-align: left;
}
@media (max-width:830px){	/*TABLET*/
.headline { 
	font-size: 34px; 
	line-height: 38px; 
	}
}
@media (max-width:412px){	/*MOBILE*/
.headline { 
	font-size: 28px; 
	line-height: 30px; 
	}
}

.subheadline { 
    font-family: "Playfair Display";
	font-size: 28px; 
	line-height: 36px; 
	text-transform: none;
	font-style: normal; 
	font-variant: normal; 
	letter-spacing: 0.2px;
	color: #444;
	text-align: center;
}
@media (max-width:830px){	/*TABLET*/
.subheadline { 
	font-size: 24px; 
	line-height: 30px; 
	}
}
@media (max-width:412px){	/*MOBILE*/
.subheadline { 
	font-size: 20px; 
	line-height: 26px; 
	}
}






.body { 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 24px; 
	letter-spacing: 0.5px;
	color: #111;
}
.bodybold { 
	font-size: 18px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400;
	line-height: 26px; 
	letter-spacing: 0.5px;
	color: #333;
}
.bodyhead { 
	font-size: 22px; 
	text-transform: uppercase;
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400;
	line-height: 28px; 
	letter-spacing: 1.0px;
	color: #333;
}

.footersmall { 
	text-decoration: none;
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 20px; 
	letter-spacing: 0.5px;
	color: #111;
}
.footerlight { 
	text-decoration: none;
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 20px; 
	letter-spacing: 0.5px;
	color: #666;
}
.footerheadline { 
    font-family: "Playfair Display";
	font-size: 23px; 
	text-transform: uppercase;
	font-style: normal; 
	font-variant: normal; 
	line-height: 26px; 
	letter-spacing: 0.75px;
	color: #444;
}

/* END FONT */













.imagediv{
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr;
	margin: 0px 40px 40px 40px;
}
@media (max-width:830px){		/*TABLET*/
	.imagediv{
	grid-gap: 24px;
	margin: 0px 24px 24px 24px;
	}
}
@media (max-width:412px){  		/*MOBILE*/
	.imagediv{
	grid-gap: 16px;
	margin: 0px 16px 16px 16px;
	}
}





/*  PRICES  */

.fullpage{
	grid-gap: 40px;
	grid-template-columns: 1fr ;
	margin: 0px 40px 40px 40px;
}
@media (max-width:830px){		/*TABLET*/
	.fullpage{
	grid-gap: 24px;
	margin: 0px 24px 24px 24px;
	}
}
@media (max-width:412px){  		/*MOBILE*/
	.fullpage{
	grid-gap: 16px;
	margin: 0px 16px 16px 16px;
	}
}



.prices{
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr;
	margin: 0px 40px 40px 40px;
}
@media (max-width:1100px){		/*SMALLER SCREEN*/
	.prices{
	grid-template-columns: 1fr;
	}
}
@media (max-width:830px){		/*TABLET*/
	.prices{
	grid-gap: 24px;
	margin: 0px 24px 24px 24px;
	}
}
@media (max-width:412px){  		/*MOBILE*/
	.prices{
	grid-gap: 16px;
	margin: 0px 16px 16px 16px;
	}
}

.prices div{
	border: 0px #333 solid;
	border-radius: 0px;
	background-color: #eeece8;
	padding: 10px 10px 20px 25px;
}




.a { 
	border: 0px #333 solid;
	vertical-align: top;
	display: inline-block; 
	width: 55%; 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 30px; 
	letter-spacing: 0.5px;
	color: #000;
}
.b { 
	border: 0px #333 solid;
	display: inline-block; 
	width: 26%; 
	font-size: 13px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 30px; 
	letter-spacing: 0px;
	color: #000;
}
.c { 
	border: 0px #333 solid;
	display: inline-block; 
	width: 12%; 
	text-align: end; 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 30px; 
	letter-spacing: 0.5px;
	color: #000;
}
.d { 
	border: 0px #333 solid;
	display: inline-block; 
	width: 48%; 
	text-align: end; 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 30px; 
	letter-spacing: 0.5px;
	color: #000;
}
.e { 
	border: 0px #333 solid;
	vertical-align: top;
	display: inline-block; 
	width: 47%; 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 30px; 
	letter-spacing: 0.5px;
	color: #000;
}
.f { 
	border: 0px #333 solid;
	vertical-align: top;
	display: inline-block; 
	width: 90%; 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 24px; 
	letter-spacing: 0.5px;
	color: #000;
}
.g { 
	border: 0px #333 solid;
	vertical-align: top;
	display: inline-block; 
	width: 90%; 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400;
	line-height: 24px; 
	letter-spacing: 0.5px;
	color: #222;
}
.h { 
	border: 0px #333 solid;
	vertical-align: top;
	display: inline-block; 
	width: 55%; 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 30px; 
	letter-spacing: 0.5px;
	color: #000;
}
.i { 
	border: 0px #333 solid;
	display: inline-block; 
	width: 40%; 
	text-align: end; 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 30px; 
	letter-spacing: 0.5px;
	color: #000;
}





/*  END PRICES  */





























/*FOOTER*/

.footer {
    border: 0px dashed #999;
	background-color: #eeece8;
	grid-column: 1 / -1;
	grid-row: 1;
	align-self: center;
	padding: 40px 40px 40px 40px;
}
.footer img{
	width: 38px;
	height: auto;
	padding: 20px 15px 20px 0px;
}
@media (max-width:830px){	/*TABLET*/
.footer {
	padding: 30px 24px 20px 24px;
	}
.footer img {
	width: 32px;
	height: auto;
	padding: 15px 10px 15px 0px;
	}
}
@media (max-width:412px){	/*MOBILE*/
.footer {
	padding: 30px 16px 20px 16px;
	}
.footer img {
	width: 27px;
	height: auto;
	padding: 15px 6px 15px 0px;
	}
}
/*END FOOTER*/








@media (max-width:412px){	/*MOBILE*/
.hidden-xs {
	display: none;
	}
}











