@charset "UTF-8";
/* CSS Document */



body {
    height: 90%;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}





.header {
	background-size: cover;
  	background-color: #4a4a4a;
  	padding: 75px 15px 15px 15px;
  	text-align: center;
}



/* NAVIGATION */

div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 0px;
	z-index: 3;
}

#navbar {
  	overflow: hidden;
	border-width: 1px 0px 0px 0px; /* top right bottom left */
	border-style: solid;
	height: 60px;
  	background: #4a4a4a;
	border-image:   linear-gradient(to right, #4a4a4a 25%, #4a4a4a 25%, #898989 50%, #898989 50%, #4a4a4a 75%, #4a4a4a 75%) 5;
	z-index: 2;
}

ul {
	text-align: center;
	margin: 16px 0px 0px 0px;
	padding: 0;
}

ul li {
	display: inline-block;
}

ul li a {
	display: block;
	background: #4a4a4a;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	height: 16px;
	line-height: 16px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 12px;
	letter-spacing: 0.08em;
	color: #898989;
	border-radius: 3px;
	padding: 6px 6px 6px 6px;
}

ul li a:hover {
	background: #383838;
	color: #D7D7D7;
}

/* ENDNAVIGATION */




/* BODY */

.content {
  padding: 65px 65px;
}

/* END BODY */




/* GALLERY */

.artcontainer {
	border: 0px solid red;
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	line-height: 0.5em; 

   	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 50px;
	padding: 0px 0px 150px 0px;
    justify-content: left;
    align-content: center;
}


.artcontainersmall {
	grid-column: 1fr;
	position: relative;
	width: 100%;
	padding-bottom: 0px;
}

.artcontainertext {
	grid-column: span 4 ;
	position: relative;
	width: 100%;
}

.artcontainerblank {
	grid-column: span 2 ;
	position: relative;
	width: 100%;
}

.artimage {
	border: 1px solid #d2d2d2;
	display: block;
	width: 100%;
	height: auto;

}

.artimagebig {
	display: block;
	width: 100%;
	height: auto;
}



/* END GALLERY */


/* BIG ART AND HOME*/

.parent {
 	border: 0px dashed #999;
 	margin-bottom: 0px;
	height: 100%;
}

.container {
	border: 0px dashed #999;
    display: grid;
    grid-gap: 0px;
	height: 100%;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

/* item 1 HOME page*/

.item1 {
    grid-column: 7 / 11;
	grid-row: 1;
	align-self: center;
	padding: 5em 0em 5em 0em;
	z-index: 1;
}

.item2 {
	border: 0px dashed #999;
    grid-column: 1 / 9;
	grid-row: 1;
	align-self: center;
	padding: 0em 0em 0em 0em;
	z-index: 0;
}

.item3 {
    grid-column: 8 / 12;
	grid-row: 1;
	align-self: center;
	padding: 0em 0em 0em 0em;
	z-index: 1;
}

.item4 {
    grid-column: 1 / 6;
	grid-row: 1;
	align-self: top;
	padding: 0em 0em 0em 0em;
	z-index: 1;
}

.item5 {
    grid-column: 7 / -1;
	grid-row: 1;
	align-self: top;
	padding: 0em 0em 0em 0em;
	z-index: 1;
}


.fade{
      border: 0px solid black;
      opacity: 0.15;
}	



table.tableproduct { 
  border: 0px solid #D8D8D8;
  border-radius: 0px; 
  border-spacing: 0px;
  padding: 0px 0px 30px 0px;

  }
table.tableproduct td { 
  vertical-align: top;
  padding: 10px 15px 10px 0px;
  border-bottom: 1px solid #D8D8D8;
  }
table.tableproduct th { 
  vertical-align: top;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #D8D8D8;
  }
table.tableproduct tr:last-child > td  {
  border-bottom: 1px solid #D8D8D8;
}	
table.tableproduct tr:first-child > th,
table.tableproduct tr:first-child > td {
  border-top: 1px solid #D8D8D8;
}	




circle a {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	display: block;
	background: #888888;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
  	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0.04em;
	line-height: 40px;
	font-weight: 600; 
	color: #FFFFFF;
	padding: 3px 3px 3px 3px;
	margin: 20px 0px 20px 0px;

}

circle a:hover {
	background: #383838;
	color: #D7D7D7;
}




.image, .thumb {
	width:100%; 
	height:100%;
}
.product-image-thumbnail {
	position:relative; 
	float:left; 
	width:60px; 
	height:60px; 
	border:1px solid #d0d0d0; 
	padding:5px; 
	cursor:pointer; 
	display:inline-block; 
	margin: 0px 10px 10px 0px;

	transition:0.9s;
}
.product-image-thumbnail:hover {
	opacity:0.7;
}



/* END BIG ART AND HOME*/




/* EMAIL FORM */



form {
	margin-top: 0px;
}

.form-control{
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #ddd;
	color: #272727;
  	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 200; 
	margin-bottom: 20px;
}
input {
	height: 40px;
}

form .submit {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #888888;
  	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0.08em;
	font-weight: 600; 
	color: #fff;
	margin-top: 10px;
}

form .submit:hover {
	background-color: #3F3F3F;
	cursor: pointer;
}





/* END EMAIL FORM */



/* FONT */


.menuhead { 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 1.5em; 
	text-transform: uppercase;
	font-style: normal; 
	font-variant: normal; 	
	font-weight: 100; 
	line-height: 1.5em; 
	letter-spacing: 0.5em;
	color: #d2d2d2;
	text-align: center;
}


.homepageintro { 
	font-family: 'EB Garamond', serif; 
	font-size: 1.5em; 
	letter-spacing: 0.02em;
	font-style: oblique; 
	font-style: italic; 
	font-variant: normal; 
	font-weight: 100; 
	line-height: 1.3em; 
	color: #999;
}

.intro { 
	font-family: 'EB Garamond', serif; 
	font-size: 2.0em; 
	letter-spacing: 0.02em;
	font-style: oblique; 
	font-style: italic; 
	font-variant: normal; 
	font-weight: 100; 
	line-height: 1.0em; 
	color: #555555;
	text-align: left;
}

.body { 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 1.0em; 
	text-transform: none;
	font-style: normal; 
	font-variant: normal; 	
	font-weight: 100; 
	line-height: 1.1em; 
	letter-spacing: 0.03em;
	color: #2D2D2D;
	text-align: left;
}

.bodyproductbold { 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 1.1em; 
	text-transform: none;
	font-style: normal; 
	font-variant: normal; 	
	font-weight: 400; 
	line-height: 20px; 
	letter-spacing: 0.04em;
	color: #222222;
	text-align: left;
}
.bodyproduct { 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 1.1em; 
	text-transform: none;
	font-style: normal; 
	font-variant: normal; 	
	font-weight: 100; 
	line-height: 22px; 
	letter-spacing: 0.04em;
	color: #222222;
}





/* END FONT */


























/*TABLET*/
@media (max-width:768px){
	

.homepageintro { 
	font-family: 'EB Garamond', serif; 
	font-size: 1.2em; 
	line-height: 1.3em; 
	color: #1C1C1C;
}	
	
.content {
  padding: 40px 40px;
}
	
.artcontainer {
   	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-gap: 30px;
	padding: 0px 0px 75px 0px;
}

.artcontainertext {
	grid-column: 1 / -1 ;
}

.artcontainerblank {
	grid-column: 3 / -1 ;
}
	
	
.intro { 
	font-size: 1.8em; 
	line-height: 0.9em; 
}

.body { 
	font-size: 0.9em; 
	line-height: 1.2em; 
}
	
	
.item1 {
    grid-column: 6 / 12;
	grid-row: 1 / -1;
}	
.item2 {
	border: 0px dashed #999;
    grid-column: 1 / -1;
	grid-row: 1;
	align-self: center;
	padding: 0em 0em 0em 0em;
	z-index: 0;
}	
.item3 {
    grid-column: 2 / 12;
	grid-row: 2;
	align-self: center;
	padding: 3em 0em 10em 0em;
	z-index: 1;
}
	
.item4 {
    grid-column: 1 / -1;
}

.item5 {
    grid-column: 1 / -1;
	grid-row: 2;
}



}




/*MOBILE*/
@media (max-width:414px){

.intro { 
	font-size: 1.7em; 
	line-height: 2.0em; 
}

.header {
  	padding: 50px 15px 15px 15px;
}
	
.logo {
		width: 150px;
}

.menuhead { 
	font-size: 1.2em; 
}

/*item1 HOME PAGE*/

.item1 {
    grid-column: 4 / 12;
	grid-row: 1 / -1;
}	
	

.item4 {
    grid-column: 1 / -1;
}

.item5 {
    grid-column: 1 / -1;
	grid-row: 2;
}

.fade{
      border: 0px solid black;
      opacity: 0.15;
}	
	
.sixfoot {
		width: 300px;
}	
	
.content {
  padding: 30px 30px;
}
	
.artcontainer {
   	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 25px;
	padding: 0px 0px 50px 0px;
}

.artcontainertext {
	grid-column: span 3 ;
}

.artcontainerblank {
	grid-column: span 2 ;
}

.intro { 
	font-size: 1.4em; 
	line-height: 0.8em; 
}

.hidden-xs {
		display: none;
}



}











