html, body {
  font-family: sans-serif;
}

.parent {
  border: 8px dashed #999;
  margin-bottom: 15px;
}

.item {
  display: grid;
  grid-gap: 2px;

  box-sizing: border-box;
  padding: 15px;

  background-color: #AFD0BF;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.hide {
    opacity: 0;
    transition: 0.5s;
}
