@charset "UTF-8";
/* CSS Document */






body {
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background: #fff;
	
}


a{
	color: #000;
}



/* NAVIGATION */


.sticky {
	position: -webkit-sticky;
	position: sticky;
	background: #FFFFFF;
	top: 0;
	height: 80px;
	box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
	padding: 0px;
	z-index: 3;
}


.header{
	background-color: #fff;
	box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
	position: 100%;
	z-index: 4;
}

.header ul{
	margin:0;
	padding:0;
	text-align: right;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header ul a{
	display: block;
	outline:0px solid #1752A1;
	text-transform: uppercase;
	font-size: 12px;
	color: #898989;
	letter-spacing: 0.08em;
	padding: 20px 40px 20px 0px;
	border-right: 1px solid #ECECEC;
	text-decoration: none;
	transition: max-height .2s ease-out;
}

.header ul a:hover{
	background-color: #F8F8F8;
}

.header .logo{
	float: left;
	display: block;
	padding: 8px 60px;
}

.header .menu{
	clear:both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

.header .menu-icon{
	border: 0px solid #F30004;
	padding: 42px 40px;
	position: relative;
	float: right;
	cursor: pointer;
}

.header .menu-icon .nav-icon{
	background: #333;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
	background: #333;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 5px;
}

.header .menu-icon .nav-icon:after{
	background: #333;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: -5px;
}

.header .menu-btn{
	display: none;
}

.header .menu-btn:checked ~ .menu{
	max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
	transform: rotate(-45deg);
	top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
	transform: rotate(45deg);
	top: 0;
}

@media (min-width: 1000px){
	
	.header{
		background-color: #fff;
		box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
		position: 100%;
		z-index: 4;
	}

	.header li{
		float:left;
	}

	.header li a{
		padding: 33px 24px;
	}

	.header .menu{
		clear:none;
		float: right;
		max-height: none;
	}

	.header .menu-icon{
		display: none;
	}
}

/*TABLET*/
@media (max-width:830px){
	
	.header .logo{
		padding: 10px 25px;
	}
}

/*MOBILE*/
@media (max-width:412px){
	
	.header .logo{
		padding: 10px 15px;
	}
}


/* ENDNAVIGATION */










/* MORE INFO & BUTTON */

.info-btn{
	display: none;
}


.info-icon{
	letter-spacing: 1.5px;
	font-size: 13px; 
	color: #333;
	border-radius: 3px;

	border: 1px solid #C9C9C9;
	background: #ddd;
	display: inline-flex;
	padding: 7px 20px;
	position: relative;
	top: 0px;
  	align-items: center;
 	justify-content: center;	
	cursor: pointer;
	margin: 0px 120px 10px 120px;
}

.info-icon:hover {
	border: 1px solid #777;
	background-color: #D80000;
	outline:none;
	color: #000000;
}

.info-icon .button-icon{
	background: #333;
	position: relative;
	display: block;
	height: 2px;
	width: 14px;
	transition: background .2s ease-out;
}

.info-icon .button-icon:before{
	background: #333;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transform: rotate(-90deg);
	transition: all .9s ease-in-out;
	top: 0px;
}

.info-btn{
	display: none;
}

.info-btn:checked ~ .infoblock{
	max-height: 3500px;
}

.info-btn:checked ~ .info-icon .button-icon{
	width: 16px;
	transform: rotate(-45deg);
}


.infoblock {
	border: 0px dashed #999;
	max-height: 0px;
	overflow: hidden;
	transition: max-height .9s ease-in-out;
	padding: 50px 120px 0px 120px;
}

/*TABLET*/
@media (max-width:830px){
	.info-icon{
	margin: 20px 50px 10px 50px;
}

	.infoblock {
		padding: 50px 50px 0px 50px;
	}
}

/*MOBILE*/
@media (max-width:412px){
	
	.info-icon{
	margin: 20px 30px 10px 30px;
}


	.infoblock {
		padding: 30px 30px 0px 30px;
	}
}

/* END MORE INFO & BUTTON */









/* FONT */



.headline { 
    font-family: "Playfair Display";
	font-size: 58px; 
	text-transform: none;
	font-style: normal; 
	font-variant: normal; 
	line-height: 62px; 
	letter-spacing: 0px;
	color: #444;
	text-align: left;
}

.subheadline { 
    font-family: "Playfair Display";
	font-size: 40px; 
	text-transform: none;
	font-style: normal; 
	font-variant: normal; 
	line-height: 50px; 
	letter-spacing: 0px;
	color: #444;
	text-align: left;
}

.infoheadline { 
    font-family: "Playfair Display";
	font-size: 30px; 
	text-transform: none;
	font-style: italic; 
	font-variant: normal; 
	line-height: 32px; 
	letter-spacing: 0px;
	color: #444;
	text-align: left;
	margin: 40px 0px 10px 0px;
}

.intro { 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 30px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 32px; 
	letter-spacing: 0.5px;
	color: #111;
}

/*TABLET*/
@media (max-width:830px){
	
.headline { 
	font-size: 46px; 
	line-height: 48px; 
}

.subheadline { 
	font-size: 34px; 
	line-height: 40px; 
}

.intro { 
	font-size: 26px; 
	line-height: 28px; 
}
}








.body { 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 26px; 
	letter-spacing: 0.5px;
	color: #111;
}

.bodybold { 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400;
	line-height: 26px; 
	letter-spacing: 0.5px;
	color: #333;
}

@media (max-width:412px){
	.body { 
	font-size: 16px; 
	line-height: 22px; 
	}
	
	.bodybold { 
	font-size: 16px; 
	line-height: 22px; 
	}
}








.bodyfooter { 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration: none;
	font-size: 15px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 20px; 
	letter-spacing: 1px;
	color: #999;
}

.bodyfooterbold { 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration-style: none;
	font-size: 15px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 600;
	line-height: 20px; 
	letter-spacing: 1px;
	color: #999; 
}



/* BULLETS */

.bulletsarrow {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	list-style-type: none;
	font-size: 18px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 100;
	line-height: 26px; 
	margin-left: -30px;
	letter-spacing: 0.5px;
	color: #111;
}

.bulletsarrow:before {
	color: #000;
	content: "\00BB \0020";
}


.bullets {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	list-style-type: disc;
	font-size: 18px; 
	font-style: normal; 
	font-variant: normal; 
	padding: 6px 0px;
	font-weight: 100;
	line-height: 20px; 
	letter-spacing: 0.5px;
	color: #111;
}

.bullets2 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	list-style-type: disc;
	font-size: 18px; 
	font-style: normal; 
	font-variant: normal; 
	padding: 6px 0px;
	font-weight: 100;
	line-height: 20px; 
	letter-spacing: 0.5px;
	margin-left: -20px;
	color: #111;
}

ol {
    margin-top: -20px;
}


@media (max-width:412px){
	
.bulletsarrow {
	font-size: 16px; 
	line-height: 22px; 
}
	
.bullets {
	font-size: 16px; 
	line-height: 18px; 
}


.bullets2 {
	font-size: 16px; 
	line-height: 18px; 
}


ol {
    margin-top: -15px;
	}
}



.button {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    text-decoration: none;
	padding: 7px 20px;
	font-size: 13px; 
	letter-spacing: 1.5px;
	border: 1px solid #C9C9C9;
	border-radius: 3px;
	background-color: #DDD;
	color: #333;	
	cursor: pointer;
	margin: 50px 0px 0px 0px;
}

.button:hover {
	border: 1px solid #777;
	background-color: #D80000;
	color: #000000;
}


/* END FONT */









.parent {
	display: inline-block;
 	border: 0px dashed #999;
 	margin-bottom: 150px;
	height: 100%;
}

.parent2 {
	display: inline-block;
 	border: 0px dashed #999;
 	margin-bottom: 0px;
	height: 100%;
}

.container {
	border: 0px dashed #999;
    display: grid;
    grid-gap: 0px;
	height: 100%;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto ;
}


.item1 {
    grid-column: 4 / -1;
	grid-row: 1 / 12;
	z-index: -2;
}

.item2 {
	border: 0px dashed #999;
    grid-column: 1 / 7;
	grid-row: 5;
	align-self: center;
	padding: 0px 0px 0px 120px;
	z-index: 0;
	margin: 50px 0px 0px 0px;
}

.item3 {
	border: 0px dashed #999;
    grid-column: 1 / 6;
	grid-row: 6;
	align-self: center;
	padding: 40px 0px 0px 120px;
	z-index: 0;
}

.mouse {
    border: 0px dashed #999;
	grid-column: 7 / -1;
	grid-row: 1 / 12;
	align-self: center;
	padding: 0px 0px 0px 0px;
}
.ipad {
    border: 0px dashed #999;
	grid-column: 7 / -1;
	grid-row: 1 / 5;
	align-self: center;
	padding: 0px 0px 0px 0px;
}

.mugs {
    border: 0px dashed #999;
	grid-column: 7 / -1;
	grid-row: 1 / 12;
	align-self: center;
	padding: 0px 0px 0px 0px;
}

.item4 {
    border: 0px dashed #999;
    grid-column: 1 / 7;
	grid-row: 1;
	align-self: center;
	padding: 0px 0px 20px 120px;
}

.item5 {
    border: 0px dashed #999;
	grid-column: 1 / 7;
	grid-row: 2;
	align-self: center;
	padding: 0px 0px 0px 120px;
	z-index: 0;
}










.moreinfo {
    border: 0px dashed #999;
	grid-column: 1 / -1;
	grid-row: 6;
	align-self: center;
	padding: 0px 120px 0px 120px;
}


.footer {
    border: 0px dashed #999;
	background-color: #222;
	grid-column: 1 / -1;
	grid-row: 1;
	align-self: center;
	padding: 30px 120px 20px 120px;
}



/*  3 PROGRAMS  */

.programcontainer {
    border: 0px dashed #999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
	margin: 0px 0px 50px 0px;
    grid-gap: 25px;
}

.programs {
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 5px;
	background-color: #F2F2F2;
	padding: 20px 25px;
	margin: 0px 0px 50px 0px;
}

@media (max-width:1100px){
	.programcontainer {
		grid-template-columns: 1fr;
		margin: 0px 0px 75px 0px;
		grid-gap: 50px;
	}

	.programs {
		margin: 0px 0px 0px 0px;
	}
}

@media (max-width:412px){
	.programcontainer {
		margin: 0px 0px 50px 0px;
		grid-gap: 30px;
	}

	.programs {
		padding: 15px 15px;
	}
}

/*  END 3 PROGRAMS  */





.pimage {
	display: block;
	width: 100%;
	height: 100%;
	height: auto;
}







/*TABLET*/
@media (max-width:830px){
	

.sticky + .content {
  	padding-top: 85px;
}
	
.parent {
 	margin-bottom: 75px;
}

.item1 {
	grid-column: 3 / -1;
	padding: 0px 0px 0px 50px;
}

.item2 {
	grid-column: 1 / 8;
	padding: 0px 0px 0px 50px;
}
	
.item3 {
	grid-column: 1 / 8;
	padding: 20px 0px 0px 50px;
}
	
.mouse {
	grid-column: 4 / -1;
	grid-row: 2;
}
	
.ipad {
	grid-column: 2 / 11;
	grid-row: 2;
	padding: 20px 0px 0px 0px;
}
	
.mugs {
	grid-column: 3 / -1;
	grid-row: 2;
	padding: 10px 0px 0px 0px;
}
	
.item4 {
    grid-column: 1 / 12;
	grid-row: 1;
	padding: 0px 0px 0px 50px;
}

.item5 {
	grid-column: 1 / 12;
	grid-row: 3;
	padding: 0px 0px 0px 50px;
}
	
.moreinfo {
	grid-row: 4;
	padding: 0px 50px 0px 50px;
}

.navbar {
	padding: 0px 50px 0px 50px;
}

.footer {
	padding: 30px 50px 20px 50px;
}

}


/*MOBILE*/
@media (max-width:412px){

.parent {
 	margin-bottom: 50px;
}
	
.item1 {
	grid-column:5 / -1;
	grid-row: 1;
	padding: 0px 0px 0px 0px;
}

.item2 {
	grid-column: 1 / 9;
	grid-row: 1;
	padding: 0px 0px 0px 30px;
}
	
.item3 {
	grid-column: 1 / 12;
	grid-row: 2;
	padding: 20px 0px 0px 30px;
}
	
.mouse {
	grid-column: 3 / -1;
}
	
.ipad {
	grid-column: 1 / 12;
	padding: 10px 0px 0px 30px;
}
	
.mugs {
	grid-column: 3 / -1;
	padding: 10px 0px 0px 0px;
}
	
.item4 {
	grid-column: 1 / 12;
	padding: 0px 0px 0px 30px;
}

.item5 {
	grid-column: 1 / 12;
	padding: 0px 0px 0px 30px;
}

.moreinfo {
	grid-row: 4;
	padding: 0px 30px 0px 30px;
}

.navbar {
	padding: 0px 30px 0px 30px;
}
	
.footer {
	padding: 30px 30px 20px 30px;
}
	
.headline { 
	font-size: 32px; 
	line-height: 36px; 
}

.intro { 
	font-size: 20px; 
	line-height: 22px; 
}
	
.subheadline { 
	font-size: 26px; 
	line-height: 32px; 
}

.infoheadline { 
	font-size: 26px; 
	line-height: 32px; 
	margin: 32px 0px 0px 0px;
}

	
.bodyfooter { 
	font-size: 16px; 
	line-height: 20px; 
}

.bodyfooterbold { 
	font-size: 16px; 
	line-height: 20px; 
}
	




.hidden-xs {
		display: none;
}
}











